.header-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.header-title {
  font-weight: bold;
  text-align: center;
  color: #2c3e50;
  text-decoration: none;
  font-size: 18px;
}

.card {
  background-color: white;
  text-align: left;
  margin: 5px 0;
  transition: transform 0.5s;
  padding: 10px;
  &:hover {
    transform: scale(1.03);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .img-card {
    width: 100%;
    height: 25vh;
    object-fit: cover;
  }

  @media (min-width: 0px) and (max-width: 1000px) {
    .img-card {
      object-fit: cover;
    }
  }

  .title-article {
    font-weight: bold;
    color: black;
  }
  .summary {
    margin-top: 10px;
    text-align: justify;
  }
}

.card2 {
  // doog article
  background-color: white;
  text-align: left;
  transition: transform 0.5s;
  margin: 10px;
  &:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .img-card {
    width: 100%;
    height: 20vh;
    object-fit: cover;
  }
  .title-article {
    font-size: 1.5vh;
  }
  @media (min-width: 0px) and (max-width: 1000px) {
    .img-card {
      object-fit: cover;
    }
  }
}

.info {
  display: flex;
  line-height: 3;

  img {
    width: 5vh;
    height: auto;
    vertical-align: middle;
    border-radius: 50%;
  }
}
