.header-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.header-title {
  font-weight: bold;
  text-align: center;
  color: #2c3e50;
  text-decoration: none;
  font-size: 18px;
}

.card1 {
  background-color: white;
  text-align: left;
  margin: 5px 0;
  transition: transform 0.5s;

  &:hover {
    transform: scale(1.03);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .img-card {
    width: 100%;
    height: 30vh;
    object-fit: cover;
  }

  @media (min-width: 0px) and (max-width: 1000px) {
    .img-card {
      object-fit: cover;
    }
  }
  
}
.info {
  margin-left: 10px;
  width: auto;
  padding: 0px 5px;
  .title-article {
    font-family: "Open Sans", Arial, sans-serif !important;
    font-weight: bold;
    color: black;
    display: -webkit-box;
    max-width: 100%;
    font-size: 2.4vh;
    line-height: 1.4;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      color: cornflowerblue;
    }
  }
  .summary {
    color: black;
    display: -webkit-box;
    max-width: 100%;
    height: 10vh;
    margin: 5px auto;
    font-size:1.5vh;
    line-height: 1.4;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.card2 {
  // doog article
  background-color: white;
  text-align: left;
  transition: transform 0.5s;
  margin: 10px;
  &:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .img-card {
    width: 100%;
    height: 20vh;
    object-fit: cover;
  }
  .title-article {
    font-size: 1.5vh;
  }
  @media (min-width: 0px) and (max-width: 1000px) {
    .img-card {
      object-fit: cover;
    }
  }
 
}

.info-footer {
  display: inline;
  padding: 15px 10px;
  margin: 10px 0px;
  line-height: 3;
  img {
    width: 5vh;
    height: auto;
    vertical-align: middle;
    border-radius: 50%;
  }
}
