.wapper-list-type {
  padding: 5px 0px;
  a {
    margin: 2vw;
  }
  .MuiTabs-root {
    min-height: 0px;
    padding: 0px;
    min-width: 0px;
  }
  .MuiTab-root {
      padding: 0px 12px;
      min-height: 0px;
  }
  .MuiButtonBase-root {
    min-width: 100px;
  }
 
  .MuiTabs-indicator {
   
  }
}
