.searchWrapper {
  display: inline-block;

  // width: 300px;
  margin: 0px 10px;
  .MuiInput-root {
    width: 300px;
  }
}

.logo {
  width: 50px;
  vertical-align: middle;
  border-radius: 50%;
  margin: 0px 5vw 0px 10px;
}
